{% extends 'layout.html.twig' %}

{% block pageTitle %}Person's list {% endblock %}

{% block content %}
<table class="table">

<tr>
    <th>Name </th>
    <th>Age</th>
</tr>
{% for person in persons %}
    <tr>
    <td>{{person.name}} </td>
    <td>{{person.age}} </td>

    </tr>

{% endfor%}
</table>


{% endblock %}
